.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

h2 {
  font-family: 'Raleway', sans-serif;

}

/* Home page styles */
.bio {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  margin-left: 1.5em;
  margin-top: 2em;
  color: #33FF5B;
}

.home-page {
  padding-top: 20%
}
.self-img {
  height: 10em;
  margin-left: 3em;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  .header-line-break {
    margin-left: 20em;
  }

  .bio {
    color: #ff6e33;
    font-size: 1.5em;
  }

  .self-img {
    height: 18em;
    margin-left: 15em;
  }

  .navbar-nav > li {
    margin-left: 2em;
  }

  .navbar-nav{
    margin-left: 10em;
  }

  .navbar{
    background: #fff;
    border: 0;
  }
}




@media screen and (min-width: 992px) {
  .container {
    max-width: 730px;
  }
  .header-line-break {
    margin-left: 20em;
  }

  .bio {
    color: #f5f5f5;
    font-size: 1.5em;
  }

  .self-img {
    height: 18em;
    margin-left: 0em;
  }

  .navbar-nav > li {
    margin-left: 2em;
  }

  .navbar-nav{
    margin-left: 10em;
  }

  .navbar{
    background: #fff;
    border: 0;
  }
}

  /* Extra small devices (phones, less than 768px) */
  /* No media query since this is the default in Bootstrap */

  /* Small devices (tablets, 768px and up) */
  /*@media (min-width: @screen-sm-min) {

    .bio {
      padding-top: 5%;
      padding-left: 50%;
      color: #3342FF;
    }
  }

  /* Medium devices (desktops, 992px and up) */
  /*@media (min-width: @screen-md-min) {
    .bio {
      padding-top: 5%;
      padding-left: 50%;
      color: #3342FF;
    }
    .self-img {
      padding-left: %;
    }

    }*/




  /* Large devices (large desktops, 1200px and up) */
  /*@media (min-width: @screen-lg-min) {
    .self-img {
      padding-left: 10s%;
    }

    .bio {
      color: #FF5733;
    }
    }*/
