<div class="row home-page">

 <!-- .self-image -->
  <div class="col-md-6">
    <img src="./images/self.png" alt="..." class="img-circle self-img">
  </div>

 <!-- .bio -->
  <div class="col-md-6">
    <p class="bio">Hello. I'm Becky.
      I'm an <a target="_blank" href="https://www.linkedin.com/in/kohlr/">Application Consultant.</a>
      Occasionally I will <a target="_blank" href="https://github.com/kbeckster">code things </a>
      outside of work. </p>
    <p>When I'm not working I love to <a target="_blank" href="https://books.google.com/books?uid=100652730531308870109&as_coll=0&source=gbs_lp_bookshelf_list">
      read </a>
      or <a target="_blank" href="https://www.pinterest.com/kbeckster7/sweet-treats/">bake something </a> new.</p>
    <p>Oh yeah, I also really <a target="_blank" href="https://www.rover.com/sit/rebeccak29">love dogs. </a> </p>
  </div>

</div>
