.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  /* For sticky footer*/
   margin-bottom: 60px;
}

/* Home page styles */
.home-page {
  padding-top: 25%
}
.self-img {
  height: 15em;
  padding-left: 1em;
}

.bio {
  padding-top: 15%;
}

/* Sticky footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */

}
